@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Neuton');
@import url('https://fonts.googleapis.com/css?family=Monoton');

/*estilos de letra para la pagina*/
*{
	box-sizing: border-box;
	
}

img{
	display:grid;
	max-width:60%;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Bitter', serif;
	letter-spacing: :2.5px;
	
	
}
.section__titulo{
	text-align: center;
	font-size: 40px;
	color: #9A9738;
}
.contenedor{
    margin-top:-52%;
	margin
    width: 99%;
}
.logoi {
    width: 12%;
        position: static;
}

/*estilos del header*/
.header{
	height: 100px;
}
.logo, .icon-menu{
	margin: 45px;
	font-family: 'Neuton', serif;
	color:black;
}
.icon-menu{
	display: block;
	width: : 40px;
	height: 40px;
	font-size:80px;
	background: #9A9738;
	color:#fff;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
}

/* diseño de baner */
.icon-bars{
	display:block;
	width:40px;
	height:40px;
	font-size:30px;
	background: #9A9738;
	color:#fff;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor:pointer;
}
/*----------------------Estilos del menu bars-------------------------*/
.nav{
	position: absolute;
	top: 25px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
	
}
.menu{
	list-style:none;
	padding:1;
	margin: 0;
}


.menu__link{
	display: table;
	
	padding: 25px;
	background: #9A9738;
	text-decoration:none;
	color:#fff;
	right:0;
	
}
.menu__link:hover {
	background: white;
	color: #9A9738;
}
.mostrar{
	left: 0;
	 
}
/*--------------------------------Baner----------------------------*/

.banner{
	margin-top: -60px;
	position: relative;
	z-index:-1000;
	margin-bottom: 20px;
	
}

.banner  .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: auto;
	color: #fff;
	text-align: center;
}

.banner__txt{
	display: none;
}
.banner__titulo{
	color:aliceblue;
	font-size:60px;/*para el colo de la letra*/
}
/*-----------------Estilo de info---------------------------------*/
.info__columna{
	background: #9A9738;
	color:#fff;
	padding: 30px;
	margin-bottom: 30px;
    margin-left: 25em;
    margin-right: 25em;
    border: 2px;

}

/*------------------------------------------Estilo de Fotter-------*/

.footer{
	background: #A69C9C;
	padding: 5px;
	text-align: center;
}

/*--------------Estilo responsive-------------------------------*/
@media(min-width:480px){
	
	.logo{
		font-size: 20px;
	}
	.banner__titulo{
		font-size: 45px;
		margin: 5px 0;
	}
	.banner__txt{
		display: block;
		font-size: 18px;
		margin: 7px 0;
	}
	.info, .cursos{
		display: flex;
		justify-content: space-between;
		margin-top: -30px;
	}
	.info__columna{
		width: 32%;
		margin: 8px;
	}
	.info__titulo{
		font-size: 15px;
		margin: 5px 0;
	}
	.cursos{
		flex-wrap: wrap;
		margin-top: 0;
	}
	.section__titulo{
		width: 100%;
	}
	.cursos__columna{
		width: 49%;
	}
	.logoinba {
    width: 10%;
    height: auto;
	margin-left: 12px;
			margin-top: 10px;
}
	
/*-------TAMAÑO TABLET--------------*/
	@media(min-width:760px){
		.banner__titulo{
			font-size:50px;
		}
		.cursos__titulo{
			font-size:25px;
		}
          .logoinba {
    width: 8%;
    height: auto;
        margin-left: 12px;
			margin-top: 10px;
}
	}
	/* pantalla de compu*/
	@media(min-width:1040px){
		.contenedor{
			width: 1000px;
	}
		.section__titulo{
			margin: 30px 0;
		}
		.nav{
			position:static;
			width: auto;
		}
		.menu{
			display: flex;
		}
		.icon-bars{
			display: none;
		}
		.menu__link{
			background: none;
		}
		.select{
			color:#fff;
			background: #9A9738;
		}
		.banner__titulo{
			font-size:60px;
		}
		.info__columna{
			padding:30px;
			margin: 8px;
		}
		info__titulo{
			font-size: 40px;
			text-align: center;
			
		}
		.banner___txt{
			font-size: 40px;
			text-align: center;
		}
		.cursos__descripcion{
			padding:20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			align-content: center;
		}
		.cursos__titulo{
			font-size:20px;
		}
	}
    .logoinba {
    width: 8%;
    height: auto;
        margin-left: 12px;
			margin-top: 10px;
}
    .
	/*pantalla tele*/
	@media(min-width:1066px){
		.contenedor{
			width:1200px;
		}
		.banner .contenedor{
			top: 40%;
					}
		.info{
			margin-top: -15px;
		}
		.logo{
		font-size: 50px;
	}
	.banner__titulo{
		font-size: 80px;
		margin: 5px 0;
	}
		img{
	display:block;
	max-width:100%;
}
		.logoinba {
    width: 8%;
    height: auto;
	margin-left: 12px;
			margin-top: 10px;
}
	
	}
	